<!DOCTYPE html>
<html>
<head>
  <title>CaesarCipher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav>
  <%= link_to("Home", index_path) %>
  <%= link_to("Encode a message", new_path) %>
  <%= link_to("Decode a message", new_decoding_path) %>
</nav>

</body>
</html>
